<%= form_for(:session, url: login_path) do |f|%>
    <%= f.label :username %>
    <%= f.text_field :username %>

    <%= f.submit 'Log in' %>
<% end %>
<div><%= link_to 'Sign up', new_user_path %></div>
