<div class="static">
    <%= render './layouts/profile_menu' %>
    <div class = "logo"><i class="fab fa-twitter"></i></div>
    <%= render './layouts/nav' %>
</div>
<div class="main_body">
    <div class= "left">
        <div class="following_stats">
            <div>following</div>
            <div>followers</div>
        </div>
        <div class="menu">
            <%= link_to 'Home', opinions_path, class: "home" %>
            <%= link_to 'Profile', user_path(current_user), class: "profile" %>
        </div>
    </div>
    <div class="center">
        <ul class="center_image">
            <li><%= link_to 'tweets', '#', class: "tweets" %></li>
            <li><%= link_to 'photos', '#', class: "photos" %></li>
            <li><%= link_to 'videos',  '#', class: "videos" %></li>
        </ul>
        <%= render './shared/new_opinion' %>
        <div class="opinions">
            <% @opinions.each do |opinion|%>
                <section> 
                    <%= opinion.text %>
                </section>
            <% end %>
        </div>
    </div>
    <div class="right">
        <%= render './layouts/who_to_follow'%>
    </div>
<div>
<%=  will_paginate  %> 

