<div class="static">
    <%= render './layouts/profile_menu' %>
    <div class = "logo"><i class="fab fa-twitter"></i></div>
    <%= render './layouts/nav' %>
</div>
<div class="main_body">
    <div class= "left">
        <div class="following_stats">
            <div>following</div>
            <div>followers</div>
        </div>
        <div class="menu">
            <%= link_to 'Home', opinions_path, class: "home" %>
            <%= link_to 'Profile', user_path(current_user), class: "profile" %>
        </div>
    </div>
    <div class="center">
        <div class="display_image">
            image
        </div>
        <ul class="center_image">
            <li><%= link_to 'tweets', '#', class: "tweets" %></li>
            <li><%= link_to 'photos', '#', class: "photos" %></li>
            <li><%= link_to 'videos',  '#', class: "videos" %></li>
        </ul>
        <%= render './shared/new_opinion' %>
        <div class="opinions">
            <% @opinions.each do |opinion|%>
                <section> 
                    <%= opinion.text %>
                </section>
            <% end %>
        </div>
    </div>
    <div class="right">
        <a href = "/follow/<%=@user.id%>">follow</a>
        <div class = "profile_image">
            <div class="profile-info-text">
                <span class='profile-name'><%= @user.fullname %></span>
            </div>
            <div class="profile-user-info">
                <div class="user-info-jlts user-info">
                    <h5><%= @user.num_opinions %></h5>
                    <p>Opinions</p>
                </div>
                <div class="user-info-following user-info">
                    <h5><%= @user.num_following %></h5>
                    <p>Following</p>
                </div>
                <div class="user-info-followers user-info">
                    <h5><%= @user.num_followers %></h5>
                    <p>Followers</p>
                </div>
            </div>
        </div>
        <%= render './layouts/who_to_follow'%>
    </div>
<div>
<%# <%=  will_paginate  %> 

