<div class="row">
  <aside class="span4">
    <section>
      <h1><%= @user.username %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>opinions:</b> <%= @user.opinions.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="span8">
    <% if @users.any? %>
      <ul class="users">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>