<div class="static">
    <%= render './layouts/profile_menu' %>
    <div class="logo"><h2>share_it</h2></div>
    <%= render './layouts/nav' %>
</div>
<div class="main_body">
    <div class= "left">
      <%= render 'shared/stats' %>
     <div class="menu">
        <span><i class="fa fa-home" aria-hidden="true"></i><%= link_to 'Home', opinions_path, class: "home" %></span>
        <span><i class="fa fa-user" aria-hidden="true"></i><%= link_to 'Profile', user_path(current_user), class: "profile" %></span>
      </div>
    </div>
    <div class="center">
      <div class="display_image">
        <%= image_tag(@user.coverimage, class: 'image-display img-fluid') if @user.coverimage.attached?%> 
      </div>
      <ul class="center_image">
        <li><%= link_to 'opinions', '#', class: "tweets" %></li>
        <li><%= link_to 'photos', '#', class: "photos" %></li>
        <li><%= link_to 'videos',  '#', class: "videos" %></li>
      </ul>
      <% if @view_type == 'following' %>
          <div>
            <%= render @users %>
          </div>
      <% elsif @view_type == 'followers'%>
        <div>
          <%= render @users %>
        </div>
      <% else %>
        <%= render './shared/new_opinion' %>
        <div class="opinions">
          <% @user.opinions.each do |opinion|%>
            <section class="user_opinions"> 
              <div><%= image_tag(@user.photo, class: "user_image") if @user.photo.attached?%></div>
              <p class="opinion-user-text"><%= opinion.text %></p>
            </section>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="right">
        <div class = "profile_image">
          <%= render 'follow_form' %>
          <div class="profile-info-text">
            <span class='profile-name'><%= @user.fullname %></span>
          </div>
          <div class="profile-user-info">
            <div class="user-info-jlts user-info">
              <h5><%= @user.num_opinions %></h5>
              <p>Opinions</p>
            </div>
            <div class="user-info-following user-info">
              <h5><%= @user.num_following %></h5>
              <p>Following</p>
            </div>
            <div class="user-info-followers user-info">
              <h5><%= @user.num_followers %></h5>
              <p>Followers</p>
            </div>
          </div>
        </div>
        <%= render './layouts/who_to_follow' %>
    </div>
<div>

